.textAndImage {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(./images/SERVICES.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
/* Services and image in background ends */


.textAndImage h2{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center; 
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About Us Css */

/* Navbar About Us start */
/* color of navbar icons changes with this */
.NavbarABoutUs{
    color: rgb(255, 255, 255) !important;
}
/* Navbar ends */

/* Div in navbar for color and display setting for image */
.colorTillFirstDiv{
    background-image: linear-gradient(to bottom right, #032130 , white );
    height: 50vh;
}

/* Name and title background  */
.titleBackground{

    text-align: center;
    color: rgb(255, 254, 254);
}

/* image setting  */
/* .imagebackground{
    height: 5rem;
} */



.marginOnDivs{
    margin-top: 10%;
}

.titlePictureSetting{
    width: 300px;
    height: 300px;
  
 
}


.linksicon{
    text-decoration: none;
    color: #000000;
}

/* Links and courses available in the div above footer */

@media (max-width: 767.98px ) and (min-width:480px)
{
    .titlepictureseting{
        width: 200px;
        height: 200px;
      
      
        
    }
   
    
}
